<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media</title>
    <link href="../static/styles.css" rel="stylesheet">
</head>



<body>
    <header>
        <img src="../images/logo.png" alt="logo" class="logo">
    </header>

    <h1 class="title">The Social Media Demo</h1>
    <p class="cpara">Welcome to the Social Media experience!<br>Please log in or sign up to continue. We hope to see you on the other side.</p>
    <div class="btn1">
        <button>Log In</button>
        <button>Sign Up</button>
    </div>
</body>
</html>