<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>



<body>
    <header>
        <div class="header-left">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" class="logo">
        </div>
        <div class="header-right">
            <button class="actionbtn">Log In</button>
        </div>
    </header>

    <h1 class="title">The Social Media Demo</h1>
    <p class="cpara">Welcome to the Social Media experience!<br>Please log in or sign up to continue. We hope to see you on the other side.</p>
    <div class="btn1">
        <button class="actionbtn">Log In</button>
        <button class="actionbtn">Sign Up</button>
    </div>
</body>
</html>